body {
    background-color: #1b1b1b;
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
button,input,select {
    outline: none;
}
*:focus {
    outline: none ;
}
input:focus{
    outline: none ;
}
.fa-circle {
    color:red;
}
.hidden {
    display: none;
}
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 1px;
    vertical-align: center;
    height: 30px;
    background-color: #000a12;
    /*right: 4px;*/
}
.window-button {
    height: 30px !important;
    line-height: 30px;
    padding: 0 0.5rem;
}
.btn-outline-light {
    color: #aeaeaf;
}
.primary_mode{
    background-color: #1b1b1b;
    opacity: 0.5;
}
.primary_button{
   background-color: #fff176;
    color: #000000;
}
.secondary_button{
    font-weight: bold;
}
.title h5{
    color: #fff176;
    font-weight: bold;
}
.title{
    margin: 100px 0 20px 0;
}
.warningMessage{
    margin: 20px 0 20px 0;
}
.warningMessage p {
    font-size: 10px;
    color: #fff176;
}